<template>
  <div>
    <v-alert text color="primary">
      <v-list-item>
        <v-list-item-content>Sorry! You can't register voting sites! Please, contact quiquelhappy to get your account verified</v-list-item-content>
        <v-list-item-action>
          <v-btn text href="https://purecore.io/community/" target="_blank">discord</v-btn>
        </v-list-item-action>
      </v-list-item>
    </v-alert>
  </div>
</template>